<h1> Currently Available Products</h1>
<ul>
	<% @products.each do |product| %>
		<li>Product: <%= product.title %>
			Description: <%= product.description %>
			Deadline: <%= product.deadline %>
			<%= link_to "Item Details", product_path(product) %>
		</li>
	<% end %>
</ul>

<h4><%= link_to "List an Item", new_product_path %></h4>
