<h1>Post a New Product up for Bidding</h1>

<%= form_for @new_product do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :description %>
	<%= f.text_area :description, placeholder: "Product Description" %>

	<%= f.label :deadline %>
	<%= f.datetime_select :deadline %>

	<%= f.button %>
<% end %>


